<?xml version="1.0" encoding="utf-8" ?>
<logging enabled="true">
  <outputPipe type="file" minimumLogLevel="info" bufferMaximumKeepTime="00:00:01">
    example-${customPropertyName}.log
  </outputPipe>
  <outputPipe type="console" minimumLogLevel="debug" bufferMaximumKeepTime="00:00:00">
    debug=gray;
    info=white;
    warn=yellow;
    error=red;
    fatal=green;
  </outputPipe>
  <outputPipe type="database" minimumLogLevel="debug" bufferMaximumKeepTime="00:00:00:15">
    server=localhost;database=myDb;uid=myUser;password=myPass;
  </outputPipe>
</logging>
