<?xml version="1.0" encoding="utf-8" ?>
<website usingBinds="http,https">
  <setRoot fromDirectory="html" />
  <setApplication
    atLocation="/administration/"
    filePath="application"
    controlFilePath="application.socket" />
  <setApplication
    atLocation="/"
    filePath="fileServing"
    controlFilePath="application.socket" />
  <saveAccessLog toFilePath="access.log" />
</website>
