<?xml version="1.0" encoding="utf-8" ?>
<website>
  <bind name="http" ipAddresses="127.0.0.1" port="80" hostName="Sample.Site"  />
  <bind name="https" ipAddresses="0.0.0.0" port="443" hostName="Safe.Sample.Site" certificateFileName="certificate.pem"
        maximumOpenedConnections="5000" maximumPendingConnections="100" />
</website>
