<?xml version="1.0" encoding="utf-8" ?>
<website usingBinds="http,https">
  <setRoot fromDirectory="html" />
  <setApplication
    atLocation="administration" 
    filePath="application" 
    controlFilePath="application.socket" 
    maximumRequestRunTime="00:01:00"
  />
  <setPath atLocation="administration" 
           fromDirectory="administration"
           requireHttpAuthentication="digest" 
           authenticationSourceUrl="http://vlindos:password@vlindos/authentication/Webserver.Website.SampleSite" 
  />
  <saveAccessLog toFilePath="access.log" />
</website>
