<?xml version="1.0" encoding="utf-8" ?>
<website>
  <bind name="http" ipAddress="0.0.0.0" port="80" />
  <bind name="https" ipAddress="0.0.0.0" port="80" sslCertificate="certificate.pem"/>
  <path location="/" fileSystemLocation="html" applicationLocation="application" />
  <accessLog filepath="access.log" />
</website>