<?xml version="1.0" encoding="utf-8" ?>
<logging enabled="false">
  <outputPipe type="file" minimumLogLevel="info" bufferMaximumKeepTime="00:00:01">
    <filePath>example-${customPropertyName}.log</filePath>
  </outputPipe>
  <outputPipe type="console" minimumLogLevel="debug" bufferMaximumKeepTime="00:00:00">
    <color for="debug">gray</color>
    <color for="info">brown</color>
    <color for="white">white</color>
    <color for="yellow">yellow</color>
    <color for="red">red</color>
  </outputPipe>
  <outputPipe type="nosql" minimumLogLevel="debug" bufferMaximumKeepTime="00:00:00:15">
    <connectionString>server=localhost;database=myDb;uid=myUser;password=myPass;</connectionString>
  </outputPipe>
</logging>
